.home-page {
  position: relative;
  height: 100vh; 
  overflow: hidden; 
}

.background-video {
  position: absolute;
  top: 50%; /* Center the video vertically */
  left: 50%; /* Center the video horizontally */
  width: 120vw; /* Increased width for zoom effect */
  height: 135vh; /* Increased height for zoom effect */
  min-width: 100%; /* Ensure video fills width */
  min-height: 100%; /* Ensure video fills height */
  transform: translate(-50%, -50%); /* Centering the video */
  pointer-events: none; /* Prevent interaction with the iframe */
  z-index: 1; 
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Slightly lighter overlay for better contrast */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  z-index: 2;
}

h1 {
  font-size: 2rem; /* Increased font size */
  margin-bottom: 20px; /* Adjusted bottom margin */
  font-weight: bold; /* Destaca o título */
  letter-spacing: 3px; /* Increased letter spacing */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Add text shadow for contrast */
}

p {
  font-size: 1.25rem;
  margin-bottom: 40px;
  max-width: 600px; /* Limita a largura do texto para facilitar leitura */
}

.cta-button {
  padding: 15px 40px;
  background-color: #ff5c5c; 
  color: white; 
  text-decoration: none; 
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out; 
  font-size: 1.2rem;
  font-weight: bold;
}

.cta-button:hover {
  background-color: #ff3838; /* Cor mais vibrante no hover */
}

.title {
  color: white;
  letter-spacing: 3px; /* Increased letter spacing */
  font-size: 3rem; /* Increased font size */
  font-weight: bold; /* Keep it bold */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Add text shadow for contrast */
}
