@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  
*{
    font-family: 'Montserrat', sans-serif; /* Consistent font */
}
.news-page {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 1500px; /* Aumentando a largura máxima do contêiner */
    margin: auto; /* Centraliza o contêiner na página */
    margin-top: 20px; /* Margem superior para separar do conteúdo anterior */
}

h1 {
    text-align: center;
    color: #05034d;
    font-size: 2.8rem;
    margin-bottom: 30px;
    font-weight: 800;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Define 2 colunas fixas */
    gap: 20px; /* Aumentando o espaçamento entre as imagens */
    
}

.news-item {
    text-decoration: none; /* Remove sublinhado dos links */
    color: inherit; /* Mantém a cor do texto */
    border-radius: 8px; /* Bordas arredondadas para cada item */
    overflow: hidden; /* Esconde partes da imagem que extrapolam */
    transition: transform 0.3s; /* Adiciona transição ao hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4); /* Aumenta a sombra ao passar o mouse */
    background-color: #ffffff;

}

.news-item:hover{
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5); /* Aumenta a sombra ao passar o mouse */

}
.news-image {
    width: 100%; /* Largura total da imagem */
    height: 400px; /* Aumentando a altura das imagens */
    object-fit: cover; /* Mantém a proporção da imagem */
    transition: transform 0.3s, box-shadow 0.3s; /* Adicionando transição de sombra */
}

.news-image:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Efeito de sombra ao passar o mouse */
}

.news-title {
    text-align: center; /* Centraliza o título */
    font-size: 1.8rem; /* Aumentando o tamanho do texto do título */
    margin: 10px 0; /* Margem acima e abaixo do título */
    color: #285c91; /* Cor do texto do título */
    background-color: #ffffff; /* Fundo escuro para destacar o título */
    padding: 10px; /* Espaçamento interno para o título */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
    font-weight: 800;
}

.news-title:hover {
    background-color: #b8bec5; /* Muda a cor do fundo ao passar o mouse */
}



/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .news-grid {
        grid-template-columns: 1fr; /* Uma coluna em telas menores */
    }

    .news-image {
        height: 250px; /* Ajustando a altura das imagens para telas menores */
    }

    h1 {
        font-size: 2rem; /* Ajustando o tamanho do título para telas menores */
    }

    .news-title {
        font-size: 1.5rem; /* Ajustando o tamanho do título das notícias */
    }
}

@media (max-width: 480px) {
    .news-title {
        font-size: 1.3rem; /* Ajustando ainda mais para telas muito pequenas */
    }
}
