.footer {
    height: auto;
    background-color: #222; /* Change the background color if needed */
    color: white; /* Text color */
    padding: 10px 20px 0px 20px;
  }

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 20px;
}

.footer-section {
    flex: 1 1 200px; 
    margin: 10px;
    text-align: center;
}

.footer-section h4 {
    margin-bottom: 10px;
    font-size: 1.1rem;

}

.footer-section p,
.footer-section ul {
    margin: 0;
    font-size: 0.8rem;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #1e90ff;
}

.footer-bottom {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
}

.footer-bottom p{
    font-size: 1.1rem;
}

@media (max-width: 768px) {
    
    .footer {
        padding: 5px; 
    }

    .footer-content {
        flex-direction: column;
        align-items: center; 
    }

    .footer-section {
        flex: 1 1 100%; 
        margin: 8px 0; 
    }

    .footer-section h4 {
        font-size: 1rem; 
    }

    .footer-section p {
        font-size: 0.8rem; 
    }

    .footer-section ul li a {
        font-size: 0.75rem;
    }

    .social-icons {
        margin-top: 0; 
    }

    .footer-bottom p{
        font-size: 0.8rem;
        padding: 0px 0;
    }
}
