.about-us-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: black; 
  justify-items: center; 
}

.mosaic-item {
  padding: 20px;
  color: white;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.mosaic-item:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 15px rgba(255, 0, 0, 0.5); 
}

.item1, .item2, .item3, .item4 {
  background-color: red; /* ou outras cores conforme necessário */
}

.mosaic-image {
  width: 100%;
  height: 100%; /* Preenche toda a altura */
  border-radius: 10px; 
  object-fit: cover; 
  transition: transform 0.3s, box-shadow 0.3s;
}

.mosaic-image:hover {
  transform: scale(1.02); 
  box-shadow: 0 4px 15px rgba(255, 0, 0, 0.5); 
}

.offerings-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Define 3 colunas */
  gap: 15px;
  margin-top: 10px;
}

.offering-item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  padding: 0; 
}

.offering-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(255, 0, 0, 0.5);
}

.offering-icon {
  width: 80px; 
  height: 80px; 
  margin-bottom: 10px;
  display: block; 
}

h2 {
  margin-bottom: 10px; 
}

/* Media Queries para Responsividade */
@media (max-width: 1024px) {
  .about-us-container {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 768px) {
  .about-us-container {
    grid-template-columns: 1fr; 
  }
  .mosaic-item {
    padding: 10px; 
  }
  .offerings-list {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 480px) {
  .offerings-list {
    grid-template-columns: 1fr; 
  }
}
